[submodule "product_preview"]
   path = product_preview
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "Blog_Previou_Card"]
   path = Blog_Previou_Card
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "Social_links_profile"]
   path = Social_links_profile
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "recipe"]
   path = recipe
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "start_QR"]
   path = start_QR
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "four_cards"]
   path = four_cards
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "testimonial_grid"]
   path = testimonial_grid
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "Results_summary_component"]
   path = Results_summary_component
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "Profile-card-component"]
   path = Profile-card-component
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "3columns-grid"]
   path = 3columns-grid
   url = https://github.com/SemptechVzla/frontendmentor.git

[submodule "Single price grid component"]
   path = Single price grid component
   url = https://github.com/SemptechVzla/frontendmentor.git


 