:root {
    --color-body: #edf2f8;
    --color-whiteglobal: #fff;
    --color-blackglobal: #222;
    --color-greyglobal: #49556b;
    --color-greyparrafo: #CFCFCF;
    --color-daniel: #733fc8;
    --color-jona: #49556b;
    --color-patrick: #18202d;
    --color-jeane: #ffffff;
    --color-kira: #ffffff;
    --font-primary: 'BarlowSemiCondensed-Regular', sans-serif;
    --border-radius: 20px;
    --border-radius-photos: 30px;
  }
  
  @font-face {
    font-family: 'BarlowSemiCondensed-Regular';
    src: url('../fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  
  body {
    font-size: 13px;
    background-color: var(--color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    section {
      display: grid;
      max-width: 1150px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, min-content);
      grid-gap: 20px;
  
      .testimonial {
        display: flex;
        flex-direction: column;
        background-color: var(--color-greyglobal);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        padding: 30px 40px;
  
        &.testimonial1 {
          grid-column: 1/3;
          background-color: var(--color-daniel);
          background-image: url('../src/bg-pattern-quotation.svg');
          background-repeat: no-repeat;
          background-position: 80% 0;
        }
  
        &.testimonial2 {
          grid-column: 3/4;
        }
  
        &.testimonial3 {
          grid-row: 2/3;
          grid-column: 1/2;
          background-color: var(--color-whiteglobal);
  
          .parrafo-quote,
          .profile_user,
          .parrafo-detail {
            color: var(--color-blackglobal);
          }
        }
  
        &.testimonial4 {
          background-color: var(--color-patrick);
          grid-row: 2/3;
          grid-column: 2/4;
        }
  
        &.testimonial5 {
          grid-row: -1/1;
          grid-column: 4/5;
          background-color: var(--color-whiteglobal);
  
          .parrafo-quote,
          .profile_user,
          .parrafo-detail {
            color: var(--color-blackglobal);
          }
        }
  
        .profile_user {
          display: flex;
          align-items: center;
          color: var(--color-whiteglobal);
          margin-bottom: 10px;
  
          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
  
        .user_info {
          font-weight: 600;
          font-size: 15px;
        }
  
        .title_estado {
          opacity: 0.5;
        }
  
        .parrafo-quote {
          color: var(--color-whiteglobal);
          margin-bottom: 10px;
          font-size: 20px;
        }
  
        .parrafo-detail {
          color: var(--color-greyparrafo);
          line-height: 1.5;
          opacity: 0.7;
        }
      }
    }
  }
  