
:root{
    --color-Soft-blue: hsl(215, 51%, 70%);
    --color-Cyan: hsl(178, 100%, 50%);
    --color-Very-darkblue1: hsl(217, 54%, 11%);
    --color-Very-darkblue2:  hsl(216, 50%, 16%);
    --color-Very-darkblue3: hsl(215, 32%, 27%);
    --color-White: hsl(0, 0%, 100%);
    --color-gray: #546a88;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (min-width: 375px) and (max-width: 2000px) {


body{
    background-color: var(--color-Very-darkblue1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.Container{
   display: grid; 
   grid-template-rows: repeat(3,1fr);
   grid-template-areas: 
        "Cabecera"
        "Titulo-descripcion"
        "footer"
        ;
   background-color: var(--color-Very-darkblue2);
   width: 351px;
   height: 592px;
   border-radius: 20px;  
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;
   padding: 20px;
   gap: 20px;
   
}

.Cabecera {
    grid-area: Cabecera;
    display: flex;
    justify-content: center;  

    img{
        width: 297px;
        height: 297px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
 }

.Titulo-descripcion{
    grid-area: Titulo-descripcion;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "Titulo-h2"
        "Titulo-descrip"
        "Cripto-tiempo"
   ;
   gap: 10px;
   
}

.Titulo-h2{
    color: var(--color-White);
}

.Titulo-descrip{
    color: var(--color-gray)
}

.Cripto-tiempo{
    grid-area: Cripto-tiempo;
    display: grid;
    grid-template-columns: auto 1fr;
/*    grid-template-columns: repeat(2,1fr);*/
    grid-template-areas: 
    "cripto espacio1 tiempo"    
    ;
}

.cripto{
    grid-area: cripto;
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-columns: repeat(2, 1fr);*/
    grid-template-areas: 
    "ETH ETH-saldo"    
    ;
    align-items: center; 
    
}

.ETH{
    grid-area: ETH;
    
}

.ETH img {
    width: auto;
    height: auto;
    max-height: 20px; /* Ajusta el tamaño según tu diseño si es necesario */
}

.ETH-saldo {
    grid-area: ETH-saldo;
    padding-left: 5px; /* Espacio entre el icono y el saldo */
    color: var(--color-Cyan);
}

.tiempo{
    grid-area: tiempo;    
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-columns: repeat(2,1fr);*/
    grid-template-areas: 
    "clock clock-tiempo"  
    ;
    align-items: center;
}

.clock {
    grid-area: clock;
}

.clock img {
    width: auto;
    height: auto;
    max-height: 20px;
}

.clock-tiempo {
    grid-area: clock-tiempo;
    padding-left: 5px;
    color: var(--color-gray);
}

.footer{
    border-top: solid;
    border-radius: 1px;
    color: var(--color-gray);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.white-nombre{
    color: var(--color-White);
}

.foto-user img {
   
    background-color: white;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    
}
  

}